---
layout: default
title: Paint the Mouse
---
<div class="masthead">
  <div class="container">
    <img class="masthead-title" src="images/logo/text_1line_white.png" alt="">
  </div>
</div>

<section id="blog" class="row-wrapper">
  <h1>Blog</h1>
  {% for post in site.posts limit:4 %}
  <div class="outer-container blog-post">
    <div class="blog-img-wrapper" style="background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),url(images/{{post.image}})">
  </div>

  <div class="blog-text-wrapper">
    <div class="blog-date">{{ post.date | date_to_string }}</div>
    <h4 class="blog-title">{{post.title}}</h4>
    <p>{{ post.excerpt }}</p>
    <p class="continue-reading"><a href="detail-view.html">Continue Reading</a></p>
  </div>
  </div>
  {% endfor %}
</section>

{% include gallery_section.html %}
{% include about_section.html %}