@import "bourbon/bourbon";
@import "bitters/base";
@import "neat/neat-helpers";
$mobile: new-breakpoint(max-width 415px, 12);
$medium: new-breakpoint(max-width 960px, 12);
@import "neat/neat";
// Sort out headers
@for $i from 1 through 6 {
  h#{$i} {
    font-size: modular-scale(6 - $i);
  }
}

// Scaffold
.row-wrapper {
  @include row();
  // padding-bottom: $gutter;
  padding: 4rem 0;
  &:nth-child(odd) {
    background: $medium-gray;
    color: white;
  }
  .outer-container {
    @include outer-container;
    // overflow: hidden;
  }
}


/* Masthead */

.masthead {
  // padding: 14rem 1rem;
  // font-weight: 300;
  // color: rgba(255,255,255,.65);
  text-align: center;
  // background-color: #b94a48;
  background: url("images/IMG_0200_21.JPG") center center no-repeat;
  background-size: cover;
  height: 100vh;
}

.masthead-title {
  // @include outer-container;
  padding: 0 50px;
  width: 100%;
  padding-top: 30vh;
}

section {
  h1 {
    @include outer-container;
    font-size: modular-scale(4);
    text-align: center;
    // padding-top: $gutter;
    @include media($mobile) {
      font-size: modular-scale(2.5);
    }
  }
}

// Gallery
.gallery-img-wrapper {
  border: solid 1px white;
  @include span-columns(4);
  // position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  // transition: transform 0.4s
  &:hover,&:focus {
    transform: scale(1.2);
    transition: transform 0.4s;
    z-index: 100;
  }
  // background-position-y: -50px;
  @include media($mobile) {
    @include span-columns(12);
    // margin-bottom: $gutter;
  }
  height: 300px;
  overflow: hidden;
}

.image_overlay {
  background: rgba(74, 215, 177, 0.85);
  // padding: 2.5em 10%;
  // position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  text-align: center;
  // transition: transform 0.4s, opacity 0.1s;
  // display: table-cell;
  // vertical-align: middle;
  &:hover,&:focus {
    opacity: 0.5;
    transition: transform 0.4s;
  }
  h2 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.gallery-img {
  // @include fill-parent;
}

// About
.about-img-wrapper {
  @include span-columns(5);
  // @include pad(default 0 default default);
  @include media($medium) {
    @include span-columns(10);
    @include shift(1);
    height: 300px;
    // @include pad(default default default default);
    // margin-bottom: 2rem;
  }
  @include media($mobile) {
    @include span-columns(12);
    @include shift(0);
    // margin-bottom: 2rem;
  }
  height: 400px;
  overflow: hidden;
}

.about-img {
  // @include fill-parent;
  position: relative;
  top: -100px;
  @include media($medium) {
    top: -120px;
  }
}

.about-text-wrapper {
  @include span-columns(7);
  // @include pad(default default default default);
  @include media($medium) {
    @include span-columns(10);
    @include shift(1);
    // padding-top: $gutter;
  }
  @include media($mobile) {
    // @include pad(default default default default);
    @include span-columns(12);
    @include shift(0);
  }
}

// Blog List
.blog-post {
  margin-bottom: 1rem;
  overflow: hidden;
}

.blog-img-wrapper {
  @include span-columns(2);
  @include shift(2);
  height: 220px;
  background-size: cover;
  @include media($medium) {
    display: none;
  }
}

.blog-text-wrapper {
  @include span-columns(6);
  @include media($medium) {
    @include span-columns(8);
    @include omega();
    @include shift(2);
  }
}

.blog-title {
  // display: inline-block;
}

.blog-date {
  // display: inline-block;
  // margin-left: 50px;
  float: right;
  @include media($medium) {
    float: none;
  }
}

// footer
footer {
  @include row();
  background-color: $dark-gray;
  color: white;
}

.footer-items-wrapper {
  @include outer-container();
  // @include omega();
  @include pad (default default default default);
}

.footer-item {
  text-align: center;
  li {
    opacity: 0.4;
  }
  @include span-columns(4);
  @include media($mobile) {
    @include span-columns(12);
    padding-bottom: $gutter;
  }
}

.footer-mouse,
.footer-mousetext {
  @include span-columns(2 of 4);
}

.footer-bottomline {
  padding-top: 0;
  opacity: 0.7;
  font-size: 0.7rem;
}

.footer-copy {
  @include span-columns(12);
  text-align: center;
}