<section id="blog" class="row-wrapper">
  <h1>Blog</h1>
  <div class="outer-container blog-post">
    <div class="blog-img-wrapper" style="background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),url(images/DSC_0491.JPG)">
      <!--<img class="gallery-img" src="images/DSC_0491.JPG" alt="">-->
      <!--<a href="" background-image></a>-->
  </div>
  <div class="blog-text-wrapper">
    <div class="blog-date">Feb 03, 2017</div>
    <h4 class="blog-title">Exhibition in Spain</h4>
    <p>I recently exhibited some of my work at Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur nostrum accusamus
      molestiae iste quaerat, sit neque maxime officiis, odio facere perferendis, deserunt voluptas veniam alias. Quisquam
      cumque obcaecati eius distinctio! </p>
    <p class="continue-reading"><a href="detail-view.html">Continue Reading</a></p>
  </div>
  </div>
  <div class="outer-container blog-post">
    <div class="blog-img-wrapper" style="background-image: linear-gradient(
      rgba(141, 159, 147, 0.3),
      rgba(141, 159, 147, 0.3)
    ),url(images/IMG_0236_2.JPG)">
      <!--<img class="gallery-img" src="images/IMG_0236_2.JPG" alt="">-->
      <!--<a href="" background-image></a>-->
  </div>
  <div class="blog-text-wrapper">
    <div class="blog-date">Jan 25, 2017</div>
    <h4 class="blog-title">Brighton Visit</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident quidem in repudiandae officiis mollitia illo voluptatem
      aperiam tempora, laborum at ullam vel molestias, dignissimos, molestiae cumque blanditiis dicta inventore deserunt....
    </p>
    <p class="continue-reading"><a href="detail-view.html">Continue Reading</a></p>
  </div>
  </div>
  <div class="outer-container blog-post">
    <div class="blog-img-wrapper" style="background-image: linear-gradient(
      rgba(141, 159, 147, 0.3),
      rgba(141, 159, 147, 0.3)
    ),url(images/41.JPG)">
      <!--<img class="gallery-img" src="images/41.JPG" alt="">-->
      <!--<a href="" background-image></a>-->
  </div>
  <div class="blog-text-wrapper">
    <div class="blog-date">Jan 11, 2017</div>
    <h4 class="blog-title">A Portrait Sitting</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat vel totam optio quos voluptatibus veritatis ut iste
      doloremque vitae quas, dolor dolorum labore nesciunt nisi laborum deserunt minus quasi eum.... </p>
    <p class="continue-reading"><a href="detail-view.html">Continue Reading</a></p>
  </div>
  </div>
</section>