  <footer class="footer" role="contentinfo">
    <div class="footer-items-wrapper">
      <div class="footer-item">
        <p class="footer-heading">Content
          <p>
            <nav class="foot-nav">
              <ul>
                <li>About</li>
                <li><a href="sold.html">Sold Gallery</a></li>
                <li><a href="equine.html">Equine Gallery</a></li>
                <li><a href="water.html">Water Gallery</a></li>
                <li><a href="blog.html">Blog</a></li>
              </ul>
            </nav>
      </div>
      <div class="footer-item">
        <p class="footer-heading">Contact Me
          <p>
            <nav class="foot-nav">
              <ul>
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Email</li>
              </ul>
            </nav>
      </div>
      <div class="footer-item">

          <img src="images/logo/mouse_white.svg" alt="Logo image">

      </div>
    </div>
    <div class="footer-bottomline footer-items-wrapper">
      <div class="footer-copy">
        <p>Images &copy Ray Murphy <span>|<span> Site designed by Ian Gates 2017</p>
      </div>

    </div>
  </footer>