<!--GALLERY-->
<section id="gallery" class="row-wrapper">
  <h1>Gallery</h1>
  <div class="outer-container">
    <div class="gallery-img-wrapper" style="background-image: linear-gradient(
      rgba(141, 159, 147, 0.3),
      rgba(141, 159, 147, 0.3)
    ),url(images/{{ site.sold_image }})">
      <div class="image_overlay">
        <a href="sold.html">Sold</a>
      </div>
  </div>
  <div class="gallery-img-wrapper" style="background-image: linear-gradient(
      rgba(141, 159, 147, 0.3),
      rgba(141, 159, 147, 0.3)
    ),url(images/{{ site.equine_image }})">
      <div class="image_overlay">
        <a href="equine.html">Equine</a>
      </div>
    </div>
    <div class="gallery-img-wrapper" style="background-image: linear-gradient(
      rgba(141, 159, 147, 0.3),
      rgba(141, 159, 147, 0.3)
    ),url(images/{{ site.water_image }})">
      <div class="image_overlay">
        <a href="water.html">Water</a>
      </div>
      </div>
      </div>
</section>